.employeeGrid
{
width:auto;
height:35vh;
margin-left:10px;margin-right:5px;
margin-top:5px;
margin-bottom:5px;
border:0.5px solid black;
overflow:scroll;
}
.employeeGridHeader
{
text-align:right;
padding:5px;
}
.employeeGridSNO
{
width:50px;
text-align:center;
}
.employeeGridId
{
width:100px;
text-align:center;
}
.employeeGridNameSection
{
width:200px;
text-align:center;
}
.employeeGridDesignationSection
{
width:200px;
text-align:center;
}
.employeeGridEditSection
{
width:100px;
text-align:center;
}
.employeeGridDeleteSection
{
width:100px;
text-align:center;
}