.error
{
color:red
}
.main-container
{
margin:5px;
width:auto;
height:auto
}
.header
{
width:auto;
height:40px;
background-color:white
}
.header-content
{
font-family:helvetica;
font-size:15pt;
margin:7px;
padding:7px
}
.content-section
{
margin:5px;
width:auto;
height:76vh;
border:0.5px
text-align:center
}
.login-div
{
width:auto;
height:70vh;
margin-left:5px;
margin-right:5px;
margin-top:5px;
margin-bottom:5px;
text-align:center
}
.button
{
background-color:#18324e;
color:white;
width:240px;
height:40px;
border:none;
border-radius:4px
}
.footer
{
margin:5px;
height:20px;
width:auto;
text-align:center
}